#playButton {
  width: 90vmin;
  height: 90vmin;
  border-radius: 50%;
  border: none;
  background: url('amnyam.png') center/cover no-repeat;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent; 
  -webkit-appearance: none; 
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

#playButton:active {
  transform: scale(0.95); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#playButton:focus {
  outline: none;
  box-shadow: none;
}


button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
